@page "/Workers"
@using Domain.Models
@using HttpClients.Interfaces
@using UIComponents
@using Domain.DTOs.Worker
@using Domain.DTOs.SearchParameters
@using System.Reflection.Metadata
@inject IWorkerService WorkerService
@inject NavigationManager navMgr


<h3 style="text-align: center">Overview of all workers</h3>


    
    <div class="container">
        <label>Name:</label>
        <input type="text" @bind="nameFilter"/>
        <img class="icon" src="icons/search.png" @onclick="LoadWorkers"/>
        <img class="icon" id="createButton" src="icons/user-add.png" @onclick="@(() => ShowCreatePopUp())"/>
    </div>
    

@if (workers == null)
{
    <label>Loading users...</label>
}
else if (!workers.Any())
{
    <p>No workers to display</p>
}
else
{

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Mail</th>
            <th>Phonenumber</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var worker in workers)
        {
            <tr>
                <td>@worker.getFullName()</td>
                <td>@worker.Mail</td>
                <td>@worker.PhoneNumber</td>
                <td>@worker.Address</td>
                
                @if (isButtonDisabled)
                {
                    <td><img style="visibility: hidden" class="icon" src="icons/edit.png" @onclick="@(() => ShowCreatePopUp(worker.WorkerId, worker.FirstName,worker.LastName,worker.Mail,worker.PhoneNumber,worker.Address))"/></td>
                    <td><img style="visibility: hidden" class="icon" src="icons/delete.png" @onclick="@(() => DeleteWorker(worker.WorkerId))"/>  </td>
                }
                else
                {
                    <td><img class="icon" src="icons/edit.png" @onclick="@(() => ShowCreatePopUp(worker.WorkerId, worker.FirstName, worker.LastName, worker.Mail, worker.PhoneNumber, worker.Address))"/></td>
                    <td><img class="icon" src="icons/delete.png" @onclick="@(() => {Id = worker.WorkerId; ShowDeleteConfirmationPopUp(); })"/>  </td>
                }
            </tr>
        }
        </tbody>
    </table>
}

@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}


<PopUp ShowPopUp="showCreatePopUp">


    <button @onclick="@CloseCreatePopUp">Exit</button>

    
    <div class="form-group field">
        <label>First name:</label>
        <input type="text" @bind="FirstName"/>
    </div>
    
    <div class="form-group field">
        <label>Last name:</label>
        <input type="text" @bind="LastName"/>
    </div>
    <div class="form-group field">
        <label>Mail:</label>
        <input type="text" @bind="Mail"/>
    </div>
    
    <div class="form-group field">
        <label>Phonenumber:</label>
        <input type="text" @bind="PhoneNumber"/>
    </div>
    
    <div class="form-group field">
        <label>Adress:</label>
        <input type="text" @bind="Address"/>
    </div>
    
    <button @onclick="@CreateOrUpdateWorker" disabled="@isButtonDisabled">Done</button>
    
    @if (!string.IsNullOrEmpty(popUpMsg))
    {
        <label style="color: red">@popUpMsg</label>
    }
</PopUp>

<PopUp ShowPopUp="showDeleteConfirmationPopUp">
    <h3>Are you sure you want to delete this</h3>
        
    <button @onclick="@(e => DeleteWorker(Id))">Yes</button>
    <button @onclick="CloseDeleteConfirmationPopUp">No</button>
</PopUp>


@code {
    private IEnumerable<Worker>? workers;
    private string msg = "";
    private string popUpMsg = "";

    private string? nameFilter;
    
    private bool showCreatePopUp;
    private bool showDeleteConfirmationPopUp;
    
    //Disable button fields
    private bool isButtonDisabled = false;

    private int Id = 0;
    //Create a worker text fields
    private string FirstName;
    private string LastName;
    private string PhoneNumber;
    private string Mail;
    private string Address;
    
    private bool edit = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadWorkers();
    }

    private async Task LoadWorkers()
    {
        try
        {
            workers = await WorkerService.GetAsync(nameFilter);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private void ShowCreatePopUp(int id = 0, string? firstName = "", string? lastName = "", string? mail = "", int? phoneNumber = 0, string? address = "")
    {
        popUpMsg = "";
        Id = id;
        FirstName = firstName;
        LastName = lastName;
        Mail = mail;
        PhoneNumber = phoneNumber.ToString();
        Address = address;
        showCreatePopUp = true;
        
    // if firstname already has a value the popup should be an edit
        edit = !string.IsNullOrEmpty(firstName);
    }

    private void CloseCreatePopUp()
    {
        showCreatePopUp = false;
    }

    private void ShowDeleteConfirmationPopUp()
    {
        showDeleteConfirmationPopUp = true;
    }
    private void CloseDeleteConfirmationPopUp()
    {
        showDeleteConfirmationPopUp = false;
    }
    
    private async Task CreateOrUpdateWorker()
    {
        isButtonDisabled = true;
        
        popUpMsg = "";
        if (string.IsNullOrEmpty(FirstName) || string.IsNullOrEmpty(LastName) || string.IsNullOrEmpty(PhoneNumber) || string.IsNullOrEmpty(Mail) || string.IsNullOrEmpty(Address))
        {
            isButtonDisabled = false;
            popUpMsg = "Fields may not be empty";
            return;
        }

        try
        {
            Int32.Parse(PhoneNumber);
        }
        catch (Exception e)
        {
            isButtonDisabled = false;
            popUpMsg = "Phonenumber may only contain numbers";
            return;
        }
        
        try
        {
            if (edit)
            {
                WorkerUpdateDto dto = new(Id, FirstName, LastName, Int32.Parse(PhoneNumber), Mail, Address);
                await WorkerService.UpdateAsync(dto);
            }
            
            else
            {
                WorkerCreationDto dto = new(FirstName, LastName, Int32.Parse(PhoneNumber), Mail, Address);
                await WorkerService.CreateAsync(dto);
            }

            await LoadWorkers();
            
            isButtonDisabled = false;
            
            CloseCreatePopUp();
        }
        
        catch (Exception e)
        {
            isButtonDisabled = false;
            Console.WriteLine(e);
            popUpMsg = e.Message;
        }
    }

    private async Task DeleteWorker(int id)
    {
        isButtonDisabled = true;
        
        msg = "";
        try
        {
            await WorkerService.DeleteAsync(id);

            var list = new List<Worker>(workers!);
            list.RemoveAll(worker => worker.WorkerId == id);
            workers = list.AsEnumerable();
            
            workers = await WorkerService.GetAsync(null);

            await LoadWorkers();
            
            isButtonDisabled = false;

            CloseDeleteConfirmationPopUp();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            isButtonDisabled = false;
            msg = e.Message;
        }
    }
}