@page "/Workers"
@using Domain.Models
@using HttpClients.Interfaces
@using UIComponents
@using Domain.DTOs.Worker
@using Domain.DTOs.SearchParameters
@using System.Reflection.Metadata
@inject IWorkerService WorkerService
@inject NavigationManager navMgr

<h3 style="text-align: center">Overview of all workers</h3>

                <label>Name:</label>
                <input type="text" @bind="nameFilter"/>

<div>
    <button @onclick="LoadWorkers">Search</button>
</div>

<div>
    <button @onclick="@(() => ShowPopUp())">Create</button>
</div>



@if (workers == null)
{
    <label>Loading users...</label>
}
else if (!workers.Any())
{
    <p>No workers to display</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Mail</th>
            <th>Phonenumber</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var worker in workers)
        {
            <tr>
                <td>@worker.getFullName()</td>
                <td>@worker.Mail</td>
                <td>@worker.PhoneNumber</td>
                <td>@worker.Address</td>
                <td><button @onclick="@(() => ShowPopUp(worker.WorkerId, worker.FirstName,worker.LastName,worker.Mail,worker.PhoneNumber,worker.Address))" disabled="@isButtonDisabled">EDIT</button></td>
                <td><button id="DeleteButton" @onclick="@(() => DeleteWorker(worker.WorkerId))" disabled="@isButtonDisabled">DELETE</button></td>
            </tr>
        }
        </tbody>
    </table>
}

@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}


<PopUp ShowPopUp="showPopUp">


        <button @onclick="@ClosePopUp">Exit</button>

    
    <div class="form-group field">
        <label>First name:</label>
        <input type="text" @bind="FirstName"/>
    </div>
    
    <div class="form-group field">
        <label>Last name:</label>
        <input type="text" @bind="LastName"/>
    </div>
    <div class="form-group field">
        <label>Mail:</label>
        <input type="text" @bind="Mail"/>
    </div>
    
    <div class="form-group field">
        <label>Phonenumber:</label>
        <input type="text" @bind="PhoneNumber"/>
    </div>
    
    <div class="form-group field">
        <label>Adress:</label>
        <input type="text" @bind="Address"/>
    </div>
    
    <button @onclick="@CreateOrUpdateWorker" disabled="@isButtonDisabled">Done</button>
    
    @if (!string.IsNullOrEmpty(popUpMsg))
    {
        <label style="color: red">@popUpMsg</label>
    }
</PopUp>


@code {
    private IEnumerable<Worker>? workers;
    private string msg = "";
    private string popUpMsg = "";

    private string? nameFilter;
    
    private bool showPopUp;
    
    //Disable button fields
    private bool isButtonDisabled = false;

    private int Id = 0;
    //Create a worker text fields
    private string FirstName;
    private string LastName;
    private string PhoneNumber;
    private string Mail;
    private string Address;
    
    private bool edit = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadWorkers();
    }

    private async Task LoadWorkers()
    {
        try
        {
            workers = await WorkerService.GetAsync(nameFilter);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private void ShowPopUp(int id = 0, string? firstName = "", string? lastName = "", string? mail = "", int? phoneNumber = 0, string? address = "")
    {
        popUpMsg = "";
        Id = id;
        FirstName = firstName;
        LastName = lastName;
        Mail = mail;
        PhoneNumber = phoneNumber.ToString();
        Address = address;
        showPopUp = true;
        
    // if firstname already has a value the popup should be an edit
        edit = !string.IsNullOrEmpty(firstName);
    }

    private void ClosePopUp()
    {
        showPopUp = false;
        navMgr.NavigateTo("/Workers");
    }
    
    private async Task CreateOrUpdateWorker()
    {
        isButtonDisabled = true;
        
        popUpMsg = "";
        if (string.IsNullOrEmpty(FirstName) || string.IsNullOrEmpty(LastName) || string.IsNullOrEmpty(PhoneNumber) || string.IsNullOrEmpty(Mail) || string.IsNullOrEmpty(Address))
        {
            popUpMsg = "Fields may not be empty";
            return;
        }

        try
        {
            Int32.Parse(PhoneNumber);
        }
        catch (Exception e)
        {
            popUpMsg = "Phonenumber may only contain numbers";
            return;
        }
        
        try
        {
            if (edit)
            {
                WorkerUpdateDto dto = new(Id, FirstName, LastName, Int32.Parse(PhoneNumber), Mail, Address);
                await WorkerService.UpdateAsync(dto);
            }
            
            else
            {
                WorkerCreationDto dto = new(FirstName, LastName, Int32.Parse(PhoneNumber), Mail, Address);
                await WorkerService.CreateAsync(dto);
            }

            await LoadWorkers();
            
            isButtonDisabled = false;
            
            ClosePopUp();
        }
        
        catch (Exception e)
        {
            Console.WriteLine(e);
            popUpMsg = e.Message;
        }
    }

    private async Task DeleteWorker(int id)
    {
        isButtonDisabled = true;
        
        msg = "";
        try
        {
            await WorkerService.DeleteAsync(id);

            var list = new List<Worker>(workers!);
            list.RemoveAll(worker => worker.WorkerId == id);
            workers = list.AsEnumerable();
            
            workers = await WorkerService.GetAsync(null);

            await LoadWorkers();
            
            isButtonDisabled = false;

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            isButtonDisabled = false;
            msg = e.Message;
        }
    }
}